* {
  font-family: 'Alegreya Sans', sans-serif;
  background-color: #FBF1E0;
  box-sizing: border-box;
}

img {
  max-width: 300px;
}

ul {
  list-style: none;
}

h1 {
  font-family: 'Fascinate', cursive;
  color: #FBF1E0;
  text-shadow: #e98847 1px 0 10px;
  text-align: center;
}

.container {
  border-radius: 20px;
  display:flex;
  width:80%;
  margin: auto;
  padding: 10px;
}

.container * {
  background-color: #FFFBF1;
}

/* styles for category section */
.category {
  width: 20%;
  border-radius: 10px 0 0 10px;
}

.each-category {
  font-size: 20px;
  font-weight: bolder;
  /* text-decoration: rgb(254, 247, 239) wavy underline; */
  padding: 10px;
  background-color: #f2b276;
  box-shadow:
    inset 45px 20px 80px -36px #f29640,
    inset 50px 40px 109px -38px #e1325b;
  color: rgb(254, 247, 239);
  width: 150px;
  height: 150px;
  border-radius: 15px;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 10px;
}

.each-category a {
  background-color: transparent;
  color: rgb(254, 247, 239);
  text-decoration: none;
}

.new-category {
  font-size: 50px;
  font-weight: bolder;
  text-align: center;
  background-color: #cba6e3;
  box-shadow:
    inset 45px 20px 80px -36px #a34ade,
    inset 50px 40px 109px -38px #246596;
  color: rgb(254, 247, 239);
  width: 150px;
  height: 60px;
  border-radius: 15px;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
}

.new-category a {
  background-color: transparent;
  color: rgb(254, 247, 239);
  text-decoration: none;
}

/* styles for category detail section */
.category-detail {
  padding-top: 20px;
  padding-right: 20px;
  border-radius: 0 10px 10px 0;
  width: 80%;
}

/* styles for title detail section */
.title-detail {
  width: 80%;
  padding-right: 20px;
  border-radius: 0 10px 10px 0;
  padding-bottom: 20px;
}

.progress {
  width: 300px;
  height: 300px;
  display: flex;
  justify-content: center;
}

.CTAs {
  display: flex;
  justify-content: space-around;
}

.CTAs button {
  width: 40%;
  height: 50px;
  border: 0;
  border-radius: 10px;
  background-color: #e5f5c4;
  box-shadow:
    inset 45px 20px 80px -36px #7eac34,
    inset 50px 40px 109px -38px #edc523;
  color: rgb(254, 247, 239);
  font-size: 15px;
}

.CTAs a {
  background-color: transparent;
  color: rgb(254, 247, 239);
  text-decoration: none;
}

/* styles for add new section */
.add-new {
  width: 80%;
  padding-right: 20px;
}

.add-new form {
  display:flex;
  flex-direction: column;
}

/* styles for edit section */
.edit {
  width: 80%;
  padding-right: 20px;
  border-radius: 0 10px 10px 0;
  padding-bottom: 20px;
}

.edit form {
  display:flex;
  flex-direction: column;
}
