* {
  font-family: 'Alegreya Sans', sans-serif;
  background-color: #FBF1E0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

h1 {
  font-family: 'Fascinate', cursive;
  color: #FBF1E0;
  text-shadow: #e98847 1px 0 10px;
  text-align: center;
}

.container {
  border-radius: 20px;
  display:flex;
  width:70%;
  margin: auto;
  padding: 10px;
}

.container * {
  background-color: #FFFBF1;
}

/* styles for category section */
.category {
  width: 20%;
  border-radius: 10px 0 0 10px;
}

.each-category {
  font-size: 20px;
  font-weight: bolder;
  /* text-decoration: rgb(254, 247, 239) wavy underline; */
  padding: 10px;
  background-color: #f2b276;
  box-shadow:
    inset 45px 20px 80px -36px #f29640,
    inset 50px 40px 109px -38px #e1325b;
  color: rgb(254, 247, 239);
  width: 150px;
  height: 150px;
  border-radius: 15px;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 10px;
}

.each-category a {
  background-color: transparent;
  color: rgb(254, 247, 239);
  text-decoration: none;
}

.new-category {
  font-size: 50px;
  font-weight: bolder;
  text-align: center;
  background-color: #cba6e3;
  box-shadow:
    inset 45px 20px 80px -36px #a34ade,
    inset 50px 40px 109px -38px #246596;
  color: rgb(254, 247, 239);
  width: 150px;
  height: 60px;
  border-radius: 15px;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
}

.new-category a {
  background-color: transparent;
  color: rgb(254, 247, 239);
  text-decoration: none;
}

/* styles for category detail section */
.category-detail {
  display: flex;
  justify-content: start;
  padding-top: 20px;
  padding-right: 20px;
  border-radius: 0 10px 10px 0;
  width: 80%;
}

.each-title {
  width: 200px;
  height: 500px;
  border-radius: 0 0 10px 10px;
  box-shadow: #e98847 1px 0 10px;
  margin: 10px;
}

.each-title img {
  width: 100%;
}

.title-brief {
  padding: 5px;
  margin-left: 10px;
  color: black;
  z-index: 2;
}

.title-brief ul {
  list-style: none;
  padding-left: 0;
}

.each-title a {
  text-decoration: none;
}

/* styles for title detail section */
.title-detail {
  width: 80%;
  padding-right: 20px;
  border-radius: 0 10px 10px 0;
  padding-bottom: 20px;
  display: flex;
}

.progress {
  width: 300px;
  height: 300px;
  display: flex;
  justify-content: center;
}

.title-info {
  width: 50%;
}

.CTAs {
  width: 50%;
  padding-top: 40px;
  display: flex;
  flex-direction: column;
}

.CTAs button {
  width: 100%;
  height: 40px;
  margin-top: 5px;
  border: 0;
  border-radius: 10px;
  background-color: #e5f5c4;
  box-shadow:
    inset 45px 20px 80px -36px #7eac34,
    inset 50px 40px 109px -38px #edc523;
  color: rgb(254, 247, 239);
  font-size: 15px;
}

.CTAs a {
  background-color: transparent;
  color: rgb(254, 247, 239);
  text-decoration: none;
  font-weight: bolder;
}

.CTAs img {
  width: 100%;
}

/* styles for add new section */
.add-new {
  width: 80%;
  padding-right: 20px;
}

.add-new h2 {
  text-decoration: underline wavy #7eac34;
}

.add-new form {
  display:flex;
  flex-direction: column;
}

.add-new label {
  font-size: 18px;
}

.add-new select {
  width: 100%;
  height: 30px;
  margin-bottom: 5px;
  border: 1px solid #246596;
  font-size: 18px;
}

.add-new input {
  height: 30px;
  border: 0;
  border-bottom: 1px solid #246596;
  margin-bottom: 5px;
  font-size: 18px;
}

.add-new button {
  height: 40px;
  margin-top: 10px;
  font-size: 18px;
  background-color: #cba6e3;
  border: 0;
  border-radius: 10px;
  box-shadow:
    inset 45px 20px 80px -36px #a34ade,
    inset 50px 40px 109px -38px #246596;
  color: rgb(254, 247, 239);
}

/* styles for edit section */
.edit {
  width: 80%;
  padding-right: 20px;
  border-radius: 0 10px 10px 0;
  padding-bottom: 20px;
}

.edit form {
  display:flex;
  flex-direction: column;
}

.edit label {
  font-size: 18px;
}

.edit select {
  width: 100%;
  height: 30px;
  margin-bottom: 5px;
  border: 1px solid #246596;
  font-size: 18px;
}

.edit input {
  height: 30px;
  border: 0;
  border-bottom: 1px solid #246596;
  margin-bottom: 5px;
  font-size: 18px;
}

.edit button {
  height: 40px;
  margin-top: 10px;
  font-size: 18px;
  background-color: #cba6e3;
  border: 0;
  border-radius: 10px;
  box-shadow:
    inset 45px 20px 80px -36px #a34ade,
    inset 50px 40px 109px -38px #246596;
  color: rgb(254, 247, 239);
}
